@font-face {
  font-family: "BYekan";
  src: url("../fonts/yekan/BYekan-webfont.eot") format("eot"),
    url("../fonts/yekan/BYekan-webfont.woff") format("woff"),
    url("../fonts/yekan/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "BYekan";
  direction: rtl;
  text-align: right;
  /* box-sizing: content-box */
}

body {
  margin: 0;
  display: block;
  /* not flex */
  min-height: 100vh;
}


/* general start */
.cursor-pointer {
  cursor: pointer;
}

.w-15 {
  width: 15%;
}

/* body{
    display: flex;
} */

.text_center {
  text-align: center !important;
}



/* general end */

/* navbar start */
.top_navbar {
  height: 60px;
  line-height: 60px;
}

#navbar_brand {
  width: 75px;
  height: 50px;
}

#navbar-brand {
  transition: var(--transition_300);
  filter: drop-shadow(0 0 6px white);
  -webkit-filter: drop-shadow(0 0 6px white);
}

#navbar-brand:hover {
  filter: drop-shadow(0 0 3px white);
  -webkit-filter: drop-shadow(0 0 3px white);
}

/* .form-switch .form-check-input{

} */
/* navbar end */

/* main start */
#main {
  /* background: lightgray; */
  margin-top: 60px;
}

/* aside start */
.mini_sidebar {
  font-size: .7rem;
  display: block;
  /* remove flex centering */
}

#profile_img {
  height: 60px;
  width: 60px !important;
}

#profile_img_collapsed {
  height: 40px;
  width: 40px;
}

#sidebar_section {
  transition: all 0.3s ease;
  height: auto;
  /* overflow-y: auto; */
  /* overflow: visible; */
}

#sidebar_section.collapsed {
  width: 100px;
  /* narrow sidebar */
}

#sidebar_section.collapsed span {
  display: none;
  /* hide text labels */
}

#sidebar_section.collapsed img {
  width: 60px;
  /* shrink profile image if needed */
  height: 60px;
  /* margin-top: 60px; */
}

#sidebar_section ul #li_1 {
  padding-top: 45px;
}

#sidebar_section.collapsed ul #li_1 {
  padding-top: 45px;
  color: red;
}

#sidebar_section ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 15px;
  cursor: pointer;
  /* height: 25px; */
  padding: 0 10px;
  /* transition: background 0.3s, color 0.3s; */
}

#sidebar_section li:hover {
  background-color: black;
  border-bottom: 3px red solid;
  border-radius: 9px;
}

#sidebar_section ul li.no_hover:hover {
  background-color: inherit;
  border: none;
  border-radius: 0;
  cursor: default;
}

#sidebar_section.collapsed ul li {
  justify-content: center;
  /* center icons when collapsed */
  height: 15px;
}

#sidebar_section ul li i {
  width: 30px;
  /* fixed icon area */
  text-align: center;
}

/* aside end */

/* main end */

/* dashboard start */
.dashboard_card_parent:nth-child(1) .dashboard_card {
  background: hsla(33, 100%, 53%, 1);
  background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1);
}

.dashboard_card_parent:nth-child(2) .dashboard_card {
  background: hsla(332, 75%, 76%, 1);
  background: linear-gradient(90deg, hsla(332, 75%, 76%, 1) 0%, hsla(0, 83%, 70%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(332, 75%, 76%, 1) 0%, hsla(0, 83%, 70%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F096C0", endColorstr="#F27575", GradientType=1);
}

.dashboard_card_parent:nth-child(3) .dashboard_card {
  background: hsla(152, 100%, 50%, 1);
  background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1);
}

.dashboard_card_parent:nth-child(4) .dashboard_card {
  background: hsla(217, 100%, 50%, 1);
  background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1);
}

/* dashboard end */


/* category start */
/* .table-center td,
.table-center th {
  text-align: center !important;
} */

/* category end */